body {
}

/* #header {
  display: inline-block;
  width: 100%;
  text-align: center;
} */

#navBar {
  padding-left: 8px;
  padding-right: 8px;
}

#logo {
  margin-right: 20px;
}

#busName,
#head-links {
  font-family: 'Luckiest Guy', cursive;
  color: white;
}

#busName {
  font-size: 28px;
  text-decoration: none;
}

#head-links {  
  font-size: 15px;
  margin-right: 50px;
}

/* .fas,
.busName {
  display: inline-flex;
}

.fas {
  color: navy;
  font-size: 150px;
} */